<!--  Include de head -->
<%- include("../partials/head.ejs") %>

    <body id="productDetail">
        <%- include("../partials/header.ejs") %>
        <main class="mainLogin">
            <div class="mobileProductDetails">
              <h2><%=product.name %></h2>
            </div>
            <div class="productImage">
              <img
                src=<%=`/images/products/${product.image}` %>
                alt="Product image"
                class="productImg"
              />
            </div>
            <div class="productDetails">
              <h5>Categoria</h5>
              <h2><%=product.name %></h2>
              <p><%= product.description %></p>
              <h4>$ <%=product.price %></h4>
              <button class="cartButton">Agregar al Carrito</button>
          </main>
          <footer id="nobackround">
            <%- include('../partials/footer') %>
            </footer>
    </body>


    </html>