<!--  Include de head -->
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                <div class="spans">
                    <a href="/"><span><i class="fa-solid fa-backward"></i>Volver</span></a>
                </div>
                <div class="main">
                    <div class="imagenproducto">
                        <img src=<%=`/images/products/${product.image}`%> alt="" width="100%">
                    </div>
                    <div class="titulo">
                        <span><%=`${product.name}`%></span>
                    </div>
                    <div class="precio">
                        <%=`$ ${product.price}`%>
                    </div>
                    <div class="opciones">
                        <select>
                            <option value>Elige una opción</option>
                            <option value="Amarillo">Amarillo</option>
                            <option value="Azul">Azul</option>
                            <option value="Roja">Roja</option>
                            <option value="Rosa">Rosa</option>
                        </select>
                    </div>
                    <div class="detalles">
                        <p>Detalles del producto</p>
                    </div>
                    <div class="detalles2">
                        <p><%=`${product.description}`%></p>
                            
                    </div>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>


    </html>