<!--  Include de head -->
<%- include("../partials/head.ejs") %>

    <body id="productDetail">
        <%- include("../partials/header.ejs") %>
        <main>
            <div class="detail">
                <div class="panel">
                    <img class="imgP" src=<%=`/images/products/${product.image}` %> alt="Product image" width="80%" %>>
                </div>
                <div class="panel">
                    <div class="section">
                        <h4>NOMBRE:</h4>
                        <p class="productTitle">
                            <%=product.name %>
                        </p>
                    </div>
                    <br>
                    <div class="section">
                        <h4>DESCRIPCIÓN:</h4>
                        <p class="productDescrip">
                            <%= product.description %>
                        </p>
                    </div>
                    <div class="section">
                        <br>
                        <h4>PRECIO:</h4>
                        <p class="productPrice">
                           $ <%=product.price %>
                        </p>
                    </div>
                    <div class="cartAdd">
                        <form action="/cart" method="post">
                            <input type="submit" class="agregar" value="AGREGAR AL CARRITO">
                        </form>
                    </div>
                    
                </div>
            </div>
          </main>
          <footer class="background">
          
            <%- include('../partials/footer') %>
            </footer>
        
    </body>


    </html>