<!--  Include de head -->
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                <div class="spans">
                    <a href="/"><span><i class="fa-solid fa-backward"></i>Volver</span></a>
                </div>
                <div class="main">
                    <div class="image">
                        <img src=<%=`/images/products/${product.image}`%> alt="" width="100%">
                    </div>
                    <div class="title">
                        <span>
                            <%=`${product.name}`%>
                        </span>
                    </div>
                    <div class="price">
                        <%=`$ ${product.price}`%>
                    </div>
                    <div class="description">
                        <p>Detalle del producto</p>
                        <p>
                            <%=`${product.description}`%>
                        </p>
                    </div>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>


    </html>