<!--  Include de head -->
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/header.ejs") %>
            <main>
                <div class="banner">
                    <div class="banner-content">
                        <img src="/images/banner.webp" alt="" width="100%">
                    </div>
                </div>
                <section>
                    <h1>Productos</h1>
                    <div class="articles">
                        <% for (let product of Object.values(products)) { %>
                        <article class="product">
                            <a href=<%=`/products/${product.id}/detail`%>>
                                <header>
                                    <img src=<%=`/images/products/${product.image}`%> alt="" width="100%">
                                </header>
                                <div class="info">
                                    <div class="category">
                                        <%=`${product.category}`%>
                                    </div>
                                    <div class="title">
                                        <%=`${product.name}`%>
                                    </div>
                                    <div class="price">
                                        <%=`$ ${product.price}`%>
                                    </div>
                                    <div class="review">
                                        <div class="stars"> 
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star-half"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <% } %>
                    </div>
                </section>
            </main>
            <%- include('partials/footer') %>
    </body>

    </html>