<!--  Include de head -->
<%- include("../partials/head") %>

    <body class="admin">
        <%- include("./partials/header.ejs") %>
            <script>
                function previewImage(event) {
                    const preview = document.getElementById("preview");
                    const file = event.target.files[0];
                    const reader = new FileReader();

                    reader.onload = function (event) {
                        preview.src = event.target.result;
                        preview.style.display = "block";
                    };

                    reader.readAsDataURL(file);
                }
            </script>
            <main>
                <h1>Consola de administrador</h1>
                <div>
                    <h2>Producto</h2>
                </div>
                <form action=<%=`/admin/products/${product.id}?_method=PUT` %> method="POST"
                    enctype="multipart/form-data">
                    <div class="form-control">
                        <label for="name">Nombre:</label>
                        <input type="text" name="name" id="name" value="<%=product.name%>">
                    </div>
                    <div class="form-control">
                        <label for="description">Descripción:</label>
                        <textarea name="description" id="description" cols="30"
                            rows="10"><%= product.description %></textarea>
                    </div>
                    <div class="form-control">
                        <label for="price">Precio:</label>
                        <input type="number" name="price" id="price" value=<%=product.price %> step="0.01">
                    </div>
                    <div class="form-control">
                        <label for="image">Imagen:
                            <img src=<%=`/images/products/${product.image}` %> alt="Product image" id="preview">
                        </label>
                        <input type="file" name="img" id="image" accept="image/*" style="display: none;" onchange="previewImage(event)">
                    </div>
                    <div class="form-control">
                        <button type="submit" class="primary">Guardar</button>
                    </div>
                </form>
                <form action=<%=`/admin/products/${product.id}?_method=DELETE` %> method="POST">
                    <div class="form-control">
                        <button type="submit" class="error">Eliminar</button>
                    </div>
                </form>

            </main>
    </body>

    </html>