<!--  Include de head -->
<%- include("../partials/head") %>

    <body class="admin">
        <%- include("./partials/header.ejs") %>
            <main>
                <h1>Consola de administrador</h1>
                <header>
                    <h2>Usuarios</h2>
                </header>
                <% if(users.length> 0){ %>
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NOMBRE</th>
                                <th>APELLIDO</th>
                                <th>EMAIL</th>
                                <th>ROL</th>
                                <th>OPCIONES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach((user)=> { %>
                                <tr>
                                    <td>
                                        <%= user.id %>
                                    </td>
                                    <td>
                                        <%= user.first_name %>
                                    </td>
                                    <td>
                                        <%= user.last_name %>
                                    </td>
                                    <td>
                                        <%= user.email %>
                                    </td>
                                    <td>
                                        <% if (user.role==1){ %>
                                            <% user.role= "admin" %>
                                        <% }else{ %>
                                            <%user.role="user"} %>
                                            <%= user.role %>
                                    </td>
                                    <td>
                                        <div class="options">
                                            <input type="checkbox" name="switch-button" id="switch-label" class="switch-button__checkbox" >
                                        </div>
                                    </td>
                                </tr>
                                <%})%>
                        </tbody>
                    </table>
                    <% } else { %>
                        <p>No hay usuarios cargados</p>
                        <% } %>
            </main>
    </body>

    </html>