<!--  Include de head -->
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                <h1>Perfil</h1>
                <div>
                    <p>Nombre: <%= user.firstName %></p>
                </div>
                <div>
                    <p>Apellido: <%= user.lastName %></p>
                </div>
                <div>
                    <p>Email: <%= user.email %></p>
                </div>
                <div>
                    <img src=<%=`/images/products/${user.images}` %> alt="" width="100%" %>>
                </div>
                <form action="/users/logout" method="post">
                    <input type="submit" value="Logout">
                </form>
            </main>
            <%- include('../partials/footer') %>
        <script>console.log(user.images)</script>
    </body>

    </html>