<!--  Include de head -->
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                <h1>Perfil</h1>
                <div>
                    <p>Nombre: <%= user.first_name %></p>
                </div>
                <div>
                    <p>Apellido: <%= user.last_name %></p>
                </div>
                <div>
                    <p>Email: <%= user.email %></p>
                </div>
                <div>
                    <img src=<%=`/images/users/${user.image}` %> alt="" width="25%" %>>
                </div>
                <form action="/users/logout" method="post">
                    <input type="submit" value="Logout">
                </form>
                <form action="/users/profileEdit/<%= user.id %>" method="GET">
                    <input type="submit" value="Editar">
                </form>
            </main>
            <footer id="nobackround">
                <%- include('../partials/footer') %>

            </footer>
    </body>

    </html>