<!--  Include de head -->
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                <form action="/users/register" method="post">
                    <header>
                        <h3>REGÍSTRATE</h4>
                    </header>
                    <div class="form-group">
                        <span class="error"><%=locals.errors?.form && `${errors.form.msg}`%></span>
                    </div>
                    <div class="form-group">
                        <label for="firstName">Nombre:</label>
                        <input type="text" id="firstName" name="firstName" placeholder="Nombre" value="<%= typeof old != 'undefined' ? old.firstName : "" %>"/>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Apellido:</label>
                        <input type="text" id="lastName" name="lastName" placeholder="Apellido" value="<%= typeof old != 'undefined' ? old.lastName : "" %>"/>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input requiered type="email" id="email" name="email" placeholder="Ej.: ejemplo@mail.com"
                        value="<%= typeof old != 'undefined' ? old.email : "" %>"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña:</label>
                        <input requiered type="password" id="password" name="password" placeholder="Ingrese su contraseña">
                    </div>
                    <% if (typeof errors != 'undefined') { %>
                        <% errors.forEach(error => { %>
                           <ul class="error">
                              <li> <%= error.msg %> </li>
                           </ul>
                        <% }) %>
                     <% } %>
                    <div class="form-group">
                        <button type="submit">Crear cuenta</button>
                    </div>
                    <div class="form-fork">
                        ¿Ya tienes una cuenta?
                        <a href="/login">Iniciá sesión</a>
                    </div>
                </form>
            </main>
            <%- include('../partials/footer') %>
    </body>

    </html>